html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: rgb(36, 34, 34);
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: rgb(48, 75, 126);
}

.screen {
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 69, 92);
}
#play_again_button,
#start_game_button {
  color: yellow;

  border-radius: 7px;
  padding: 15px;
  width: 250px;
  border: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: not-allowed;
  background-color: black;
}
